* {

    margin: 0px;
    border: 0px; 
    padding: 0px;
    text-decoration: none;
    list-style: none;
    color: black;
}

:root {

    /* Cores */

    --corPrincipal: #08183A;
    --corSecundaria: #CEB884;
    --corTerciaria: #171a25;
    --corRealce: #70685D;
    --corRealce2: #E6E2D4;
    --corDetalhe: #061537;

    /* Fontes */

    --fonteTitulo: 'Roboto Condensed', serif;
    --fonteParagrafo: 'Mulish';

}

html, body {
    margin:0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

main { 

    padding: 10px;
}

.flex {

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}


#logo > img {

    width: 150px;
    display: block;
    margin: 0 auto 20px auto;
}

.nav_item a {

    white-space: nowrap;
}

/*Visualização mobile */

header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--corPrincipal);
    box-shadow: 0px 1px 5px 0px;
    margin-bottom: 50px;
}

#logo > img {

    width: 150px;
    display: block;
}


#nav_list {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#social_list {

    display: flex;
    flex-direction: row;
    gap: 40px;
}

#social_list i {

    font-size: 1.5em;
    color: var(--corSecundaria);
}

#social_list i:hover {
    transition: 0.5s;
    font-size: 1.8em;
    color: var(--corRealce2);
}

/*Visualização em telas médias: */

@media only screen and (min-width: 660px) {

    header {

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--corPrincipal);
        box-shadow: 0px 1px 5px 0px;
        gap: 30px;
        margin-bottom: 50px;

    }

    nav {

        display: flex;
        flex-direction: row;
    }

    #nav_list {

        height: 40px;
        font-size: 0.8em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
    }

    #social_list {

        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        gap: 20px;

        
    }



}

/*Visualização em telas maiores: */
@media only screen and (min-width: 1000px) {

    #social_list {

        display: flex;
        flex-direction: row;
        gap: 15px;
        position: initial; /* Reseta a posição da lista com redes sociais*/
    }

}


.nav_item a  {

    font-size: 1.3em;
    font-family: var(--fonteTitulo);
    color: var(--corSecundaria);
    padding: 20px;
}

.nav_item a:hover {
    transition: 0.5s;
    font-size: 1.4em;
    font-weight: 700;
    color: var(--corRealce2);
}


h1 {

    display: inline;
    font-family: var(--fonteTitulo);
    color: var(--corSecundaria);
    background-color: var(--corPrincipal);
}

p {

    text-indent: 30px;
    font-family: var(--fonteParagrafo);
}

main > section {

    margin-bottom: 120px;
}

#areas_wrapper {

    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;

}


.area_overview {

    width: 250px;
    height: 250px;
    text-align: center;
    background-color: white;

}

#clientes_section > h1 {

    margin-bottom: 50px;
}

#client_logos_wrapper {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;

    height: 530px;

    background-color: antiquewhite;
}

.client_logo {

    width: 300px;
    height: 300px;
    text-align: center;
    background-color: white;

}

footer {

    display: flex;
    align-items: center;
    gap: 30px;
    background-color: var(--corPrincipal);
}

footer > img {

    width: 200px;
}

footer > ul {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color:white;

}

footer a {

    color: white;
}
